<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<meta name="author" content="Jonathan Hodgson" />
		<title>Jonathan Hodgson's Blog</title>
		<link rel="stylesheet" href="/assets/css/main.css" type="text/css" charset="utf-8">
	</head>
	<body>
		<main>
			#CONTENT#
		</main>
		<aside>
			<h1 class="blog-name">Jonathan Hodgson</h1>
			<nav>
				#TAGLIST#
			</nav>
		</aside>
	</body>
</html>
